.header {
    height: 150px;
    background-color: $color-black;
}

.header__inner {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 199px;
    height: 33px;
}

.nav{

    &__list {
        display: flex;
    }

    &__item {
        transition: all .4s linear;
    }

    &__item + &__item {
        margin-left: 65px;
    }

    &__link {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2px;
        color: $color;
        transition: all .4s linear;
    }

    &__link:hover {
        transition: all .4s linear;
        letter-spacing: 0.03em;
        color: $hover-color;
    }

    &__link:active {
        letter-spacing: 0.05em;
        color: #7e6c51;
    }

}

.header__button {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.header__menu-oppen {
    width: 32px;
    height: 18px;
}

@include breakpoint-down(1321px) {
    .header {
        height: 130px;
    }

    .header__inner {
        height: 130px;
    }

}

@include breakpoint-down(1110px) {
    .nav {
        left: -100%;
        transition: all .4s linear;
    }

    .header__button {
        display: block;
    }

    .clouse {
        display: none;
    }

}

@include breakpoint-down(930px) {
    .header {
        height: 110px;
    }

    .header__inner {
        height: 110px;
    }

}

@include breakpoint-down(420px) {
    .header {
        height: 90px;
    }

    .header__inner {
        height: 90px;
    }

}

